body{
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.color-highlight{
    color:midnightblue;
}
.part1-half{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.part1-half img{
    width: 100%;
}
.part1-bi{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}